.container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.top {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: var(--space-xs);

  & > span {
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
  }

  & > button {
    cursor: pointer;
    font-size: var(--fs-base);
    font-weight: var(--fw-normal);
  }
}
