.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  padding: var(--space-base);

  @media (min-width: 768px) {
    padding: 0 var(--space-md) var(--space-md) var(--space-md);
  }
}
